
# Group assignment

## Energy data analysis

In this assignment, you will work with the `energy.csv` dataset, containing **hourly** data of energy consumption and generation in Spain. This dataset also contains the spot price of electricity.

### Rules for the assignment:

* Deadline: December 6th, 2022, 11pm.
* The group assignment's grade will be graded on the following criteria:
    * 50 %: presentation during Sessions 19 or 20
    * 50 %: answering questions during presentations
* Submission: 1 zip file containing:
    * 1 Jupyter notebook with your code: `group_assignment_group_X.ipynb`
    * 1 PDF file with your presentation
    * Not following these rules will result in a 0 grade for the assignment.
* No freeloaders during Group Assignments: if any of you see that any of your group members is not collaborating you tell me immediately. I will not accept excuses at the end of the course about the performance of any member.
* The presentation will be done by ONE (1) person chosen by the professor at random in the day of the presentations, so you all better work and collaborate to do a good job!
* All the students must be present during the presentations of the rest of the groups.

### Type here the names of the members of your group

1. Jorge Berenguer
2. Paulina Cattau
3. Mohamad Ali Chebaro
4. Paulino Herrera
5. Maika Robledo
6. Paul Van Den Bosche
7. Niels Van Meijel

### 0. Read the data

Read the data from the `energy.csv` file and store it in a DataFrame called `energy`.

##### Explanation
First, we import the libraries that we are goin to use during this proyect. We import pandas to create daframes and manipulate data. The second one is numpy in order to use it's mathematics functions.

Second, we proced to read the data.

Thrid we proced to manipulate the data. The first step was to fill the NA of **solar** and **coal** to 0. Then, we proced to drop the first row of the dataset as it contians information from 2018 and the study is dedicated towards **2019**.

In [15]:
#Importing the libraries we are going to use
import pandas as pd
import numpy as np

#Reading the dataset
energy = pd.read_csv("energy.csv")

#Making some previous adjsutments the reading
energy=energy.fillna(0)
energy.drop(index=energy.index[0],axis=0,inplace=True)
energy.reset_index(inplace=True)
energy=energy.drop(columns="index")
energy

,datetime,power_demand,nuclear,gas,solar,hydro,coal,wind,spot_price,year,month,day,hour,weekday
0,2019-01-01 00:00:00+00:00,22485.0,6059.2,3044.1,8.0,2884.4,1618.0,3172.1,66.88,2019,1,1,0,1
1,2019-01-01 01:00:00+00:00,20977.0,6059.2,3138.6,7.5,1950.8,1535.3,2980.5,66.00,2019,1,1,1,1
2,2019-01-01 02:00:00+00:00,19754.2,6059.2,3596.2,7.5,1675.7,1344.0,2840.0,63.64,2019,1,1,2,1
3,2019-01-01 03:00:00+00:00,19320.6,6063.4,3192.6,7.5,1581.8,1345.0,3253.4,58.85,2019,1,1,3,1
4,2019-01-01 04:00:00+00:00,19262.3,6063.4,3167.9,7.5,1535.6,1377.5,3234.0,55.47,2019,1,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8731,2019-12-30 19:00:00+00:00,31160.6,7106.3,4400.0,0.1,7910.8,685.0,2013.5,47.50,2019,12,30,19,0
8732,2019-12-30 20:00:00+00:00,31152.9,7106.3,4832.3,0.0,7517.6,681.0,2096.7,46.42,2019,12,30,20,0
8733,2019-12-30 21:00:00+00:00,29151.0,7105.3,4467.0,0.0,7080.2,698.0,2028.3,42.76,2019,12,30,21,0
8734,2019-12-30 22:00:00+00:00,26989.6,7107.2,4672.2,0.0,6716.1,626.0,2031.8,40.88,2019,12,30,22,0
8735,2019-12-30 23:00:00+00:00,24350.5,7099.0,3765.9,0.0,6403.5,528.0,1927.2,37.55,2019,12,30,23,0

### 1. Convert the `weekday` column from a number to a string (1 point)

Knowing that 0 represents Monday, 1 represents Tuesday, etc., convert the `weekday` column from a number to a string. 

Use `map` to perform this operation. You can mix it with a `lambda` function.

##### Explanation
First, we create a dictionary consisting of integers **0** to **6** and the names of the weekdays.
Second, we use the dictionary in a *lambda* function to override the integer values with the strings defined in the dictionary.

In [16]:
#Dictionary containing the weekdays
dict_week_day_name = {
    0: "Monday", 
    1: "Tuesday", 
    2: "Wednesday", 
    3: "Thursday", 
    4: "Friday", 
    5: "Saturday", 
    6: "Sunday"
}

#Replace of the weekdays number for it's name.
energy["weekday"]=energy["weekday"].map(lambda d: dict_week_day_name[d])

#We obtain a sample of the data to validate our changes
energy.sample(10, random_state = 1)

,datetime,power_demand,nuclear,gas,solar,hydro,coal,wind,spot_price,year,month,day,hour,weekday
8051,2019-12-02 11:00:00+00:00,34011.5,4995.7,5086.4,2123.5,5243.1,1012.6,11587.9,46.13,2019,12,2,11,Monday
4543,2019-07-09 07:00:00+00:00,32294.6,6949.1,10327.0,1625.1,2311.4,911.0,3459.6,54.97,2019,7,9,7,Tuesday
4669,2019-07-14 13:00:00+00:00,28273.9,6895.7,6635.4,3530.8,1144.9,300.0,4182.2,48.36,2019,7,14,13,Sunday
3072,2019-05-09 00:00:00+00:00,23047.5,6036.8,2238.0,16.5,1696.2,310.0,12227.9,30.26,2019,5,9,0,Thursday
8025,2019-12-01 09:00:00+00:00,26718.3,4996.9,3662.9,1666.2,5281.5,782.3,3956.6,44.77,2019,12,1,9,Sunday
3628,2019-06-01 04:00:00+00:00,22161.4,5069.4,6720.3,10.9,1995.8,545.0,2976.8,55.50,2019,6,1,4,Saturday
6926,2019-10-16 14:00:00+00:00,29952.7,5940.1,7363.1,3140.1,892.3,1034.9,6709.7,38.11,2019,10,16,14,Wednesday
4953,2019-07-26 09:00:00+00:00,35986.9,6895.1,12750.6,2947.7,3725.5,1290.0,1936.1,56.06,2019,7,26,9,Friday
2680,2019-04-22 16:00:00+00:00,25003.0,7033.6,4686.5,982.2,1858.7,720.0,5758.4,51.97,2019,4,22,16,Monday
7282,2019-10-31 10:00:00+00:00,31103.4,5641.1,8080.5,2329.0,2269.5,1212.0,6483.7,53.20,2019,10,31,10,Thursday

### 2. Same but for months (1 point)

##### Explanation
First, we create a dictionary consisting of integers **1** to **12** and the names of the months.
Second, we use the dictionary in a lambda function to override the integer values with the strings defined in the dictionary.

In [17]:
#Dictionary containing the months
dict_month_name = {
    1: "January", 
    2: "February", 
    3: "March", 
    4: "April", 
    5: "May", 
    6: "June", 
    7: "July", 
    8: "August", 
    9: "September", 
    10: "October", 
    11: "November", 
    12: "December"
}

#Replace of the weekdays number for it's name.
energy["month"] = energy["month"].map(lambda m: dict_month_name[m])

#We obtain a sample of the data to validate our changes
energy.sample(10, random_state = 1)

,datetime,power_demand,nuclear,gas,solar,hydro,coal,wind,spot_price,year,month,day,hour,weekday
8051,2019-12-02 11:00:00+00:00,34011.5,4995.7,5086.4,2123.5,5243.1,1012.6,11587.9,46.13,2019,December,2,11,Monday
4543,2019-07-09 07:00:00+00:00,32294.6,6949.1,10327.0,1625.1,2311.4,911.0,3459.6,54.97,2019,July,9,7,Tuesday
4669,2019-07-14 13:00:00+00:00,28273.9,6895.7,6635.4,3530.8,1144.9,300.0,4182.2,48.36,2019,July,14,13,Sunday
3072,2019-05-09 00:00:00+00:00,23047.5,6036.8,2238.0,16.5,1696.2,310.0,12227.9,30.26,2019,May,9,0,Thursday
8025,2019-12-01 09:00:00+00:00,26718.3,4996.9,3662.9,1666.2,5281.5,782.3,3956.6,44.77,2019,December,1,9,Sunday
3628,2019-06-01 04:00:00+00:00,22161.4,5069.4,6720.3,10.9,1995.8,545.0,2976.8,55.50,2019,June,1,4,Saturday
6926,2019-10-16 14:00:00+00:00,29952.7,5940.1,7363.1,3140.1,892.3,1034.9,6709.7,38.11,2019,October,16,14,Wednesday
4953,2019-07-26 09:00:00+00:00,35986.9,6895.1,12750.6,2947.7,3725.5,1290.0,1936.1,56.06,2019,July,26,9,Friday
2680,2019-04-22 16:00:00+00:00,25003.0,7033.6,4686.5,982.2,1858.7,720.0,5758.4,51.97,2019,April,22,16,Monday
7282,2019-10-31 10:00:00+00:00,31103.4,5641.1,8080.5,2329.0,2269.5,1212.0,6483.7,53.20,2019,October,31,10,Thursday

### 3. What's the percentage of *unique* days in the total period in which we had at least one hour with a price below 10 euros? (1 point)

I'm not asking for the percentage of days of the month (represented in the column `day`), but the percentage of *unique* dates in the total period.

Maybe it's interesting to build a new column with the date, not the datetime. You can do this with the `pd.to_datetime` function. Or you can concat columns:

In the end you'll need a column representing the date, not the datetime, not the year, month, day, etc.

##### Explanation
We start by creating a new column called "*date*", which we use to store the date derived from the column datetime.

Then, we filter the dataframe for all entries that have a spot price below **10** euro and count the *unique days*. 

This figure is then divided by the number of *all unique days* in the (unfiltered) dataframe. 
Lastly, we multiply it by **100** in order to print a percentage.

In [18]:
#Creating the new date column
energy["date"] = pd.to_datetime(energy["datetime"]).dt.date

#Obtaining the percentages
percentage=len(pd.Series(energy["date"][energy["spot_price"]<10].unique()))/len(pd.Series(energy["date"].unique()))*100

#Printing the results
print(f"""The percentage of unique days in the total period in which we had 
at least one hour with a price below 10 euros is {percentage:.2f}%.""")

The percentage of unique days in the total period in which we had
at least one hour with a price below 10 euros is 4.40%.

### 4. How many hours per month, in average, do we have a price above the monthly average? And below? (1 point)

##### Explanation
First, we create a dataframe called "*price_daily*", which we use to store only the column month and *spot_price* and another dataframe called "avg_price_month", where we save the average spot price per month. 

By using the column "*month*" as the index in both dataframes, we can now divide the dataframe "*price_daily*" by "*avg_price_month*". If the value in the column "*spot_price*" in the resulting dataframe "*df_month*" is higher than 1, the spot price is above the monthly average. If the value in the column "*spot_price*" in the resulting dataframe "*df_month*" is below 1, the spot price is below the monthly average. Please note that, for reasons of simplicity, we assign the category "*below*" to all spot prices that are equal to 1 as the question focuses on the ones above the monthly average. 

We create a summary table per month by summing up the values for the columns "*above*","*below*" and "*total*" (which is the sum of "*above*" and "*below*") and use this dataframe to create the final dataframe called "*df*", where we show a summary for each month and append a line called "*TOTAL SUM*" with the yearly average of hours per month that are above the monthly average, which we highlight in blue.

In [19]:
#Creation of the dataframes
price_daily = energy[["month","spot_price"]]
price_daily = price_daily.set_index("month")

#Obtaing the statistics 
avg_price_month = energy.groupby(['month'])[['spot_price']].mean()
df_month = price_daily/avg_price_month
df_month['above'] = df_month['spot_price'] > 1
df_month['below'] = df_month['spot_price'] <= 1
df_month['total'] = df_month['above'] + df_month['below']
df_count=df_month.groupby('month')[['above', 'below', 'total']].sum()

#Creating the summary 
df=pd.DataFrame({
    "Hours above average":df_count["above"],
    "Monthly average above":df_count["above"]/12,
    "Hours below average":df_count["below"],
    "Monthly average below":df_count["below"]/12,
})

#We add the percentage of the monthly average and the total sum
new_row = pd.Series(data={"Hours above average":int(df_count["above"].sum()),"Monthly average above":int(df_count["above"].sum()/12),
                          "Hours below average":int(df_count["below"].sum()), "Monthly average below":int(df_count["below"].sum()/12)},
                            name='TOTAL SUM')

#
df = df.append(new_row, ignore_index=False)
df.style.highlight_max(["Monthly average above","Monthly average below"],color='blue')

C:\Users\Pulin\AppData\Local\Temp\ipykernel_2700\1034993729.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=False)

### 5. Several questions (1 point)

Qualitative questions:

* Is `gas` generation higher or lower than its hourly average when `wind` generation is above its hourly average?
* Is the `spot_price` higher or lower than its hourly average when `solar` generation is above hourly its average?
* Is the `spot_price` higher or lower than its monthly average when `power_demand` is above its monthly average?

##### Explanation
For the hourly evaluation, we calculate the hourly average of gas and wind. The same applies to spot price and solar, which is therefore not further being explained. 

We use a nested for loop to iterate through all possible **24 hours (0-23)** and all rows in the dataframe "*energy*". If for one row the wind production is above its hourly average, we add 1 to a variable called "*wind_above*". If also the gas production is above its hourly average, we add 1 to a variable called "*gas_above*". By dividing the final value of "*gas_above*" by the final value of "*wind_above*" we get the percentage of the number of rows where the gas generation is higher than its hourly average when the wind is also higher than its hourly average.

For the last question, we apply the same concept with the difference that we iterate through the dictionary "*dict_month_name*" from question 2 in order to loop through all possible 12 months.

In [20]:
#We obtain per hour mean from gas and wind
hourly_avg_gas=energy.groupby("hour")["gas"].mean()
hourly_avg_wind=energy.groupby("hour")["wind"].mean()

#For loop to obtain the amount of times gas goes above it's average when wind goes above it's average
gas_above=0
wind_above=0
for hour in range(len(hourly_avg_gas)):
    for x in range(len(energy)):
        if (hour==energy["hour"][x]) and (energy["wind"][x]>hourly_avg_wind[hour]):
            wind_above+=1
            if (energy["gas"][x]>hourly_avg_gas[hour]):
                gas_above+=1
higher_percentage=format(gas_above/wind_above,"%")

#Presenting the resutls
print("The total cases where wind generation is above its hourly average are {}. And the total cases where gas generation is higher than its hourly average in the cases where wind generation is also above its hourly average are {}. So we can conclude saying that {} of the cases the gas generation is higher than its hourly average when the wind is also higher. In conclusion, gas generation is lower than its hourly average when wind generation is above its hourly average.".format(wind_above,gas_above,higher_percentage))

The total cases where wind generation is above its hourly average are 3611. And the total cases where gas generation is higher than its hourly average in the cases where wind generation is also above its hourly average are 748. So we can conclude saying that 20.714484% of the cases the gas generation is higher than its hourly average when the wind is also higher. In conclusion, gas generation is lower than its hourly average when wind generation is above its hourly average.

In [29]:
#We obtain per hour mean from spot_price and solar
hourly_avg_spot_price=energy.groupby("hour")["spot_price"].mean()
hourly_avg_solar=energy.groupby("hour")["solar"].mean()

#For loop to obtain the amount of times solar goes above it's average when spot_price goes above it's average
spot_price_above=0
solar_above=0

Total_spot_pirce = 0
for hour in range(len(hourly_avg_spot_price)):
    for x in range(len(energy)):
        if (hour==energy["hour"][x]) and (energy["solar"][x]>hourly_avg_solar[hour]):
            solar_above+=1
            Total_spot_pirce -= energy["spot_price"][x]
            if (energy["spot_price"][x]>hourly_avg_spot_price[hour]):
                spot_price_above+=1
                Total_spot_pirce += energy["spot_price"][x]
higher_percentage=format(spot_price_above/solar_above,"%")

#Presenting the resutls
print("The total cases where solar generation is above its hourly average are {}. And the total cases where the spot price is higher than its hourly average in the cases where solar generation is also above its hourly average are {}, so we can conclude saying that half of the time ({} of the cases) the spot price is higher than its hourly average when the solar generation is also higher.".format(solar_above,spot_price_above,higher_percentage))

The total cases where solar generation is above its hourly average are 3246. And the total cases where the spot price is higher than its hourly average in the cases where solar generation is also above its hourly average are 1589, so we can conclude saying that half of the time (48.952557% of the cases) the spot price is higher than its hourly average when the solar generation is also higher.

In [30]:
Total_spot_pirce

-68361.70000000008

In [ ]:
hourly_avg_spot_price=energy.groupby("hour")["spot_price"].mean()

In [8]:
#We obtain per month mean from spot_price and solar
monthly_avg_spot_price=energy.groupby("month")["spot_price"].mean()
monthly_avg_power_demand=energy.groupby("month")["power_demand"].mean()

#For loop to obtain the amount of times solar goes above it's average when spot_price goes above it's average
spot_price_above=0
power_demand_above=0
for month in dict_month_name.values():
    for x in range(len(energy)):
        if (month==energy["month"][x]) and (energy["power_demand"][x]>monthly_avg_power_demand[month]):
            power_demand_above+=1
            if (energy["spot_price"][x]>monthly_avg_spot_price[month]):
                spot_price_above+=1
higher_percentage=format(spot_price_above/power_demand_above,"%")

#Presenting the resutls
print("The total cases where power demand is above its monthly average are {}. And the total cases where spot price is higher than its monthly average in the cases where power demand is also above its monthly average are {}, so we can conclude saying that {} of the cases the spot price is higher than its monthly average when the power demand is also higher. In conclusion, spot price is higher than its monthly average when power demand is above its monthly average.".format(power_demand_above,spot_price_above,higher_percentage))

The total cases where power demand is above its monthly average are 4508. And the total cases where spot price is higher than its monthly average in the cases where power demand is also above its monthly average are 3521, so we can conclude saying that 78.105590% of the cases the spot price is higher than its monthly average when the power demand is also higher. In conclusion, spot price is higher than its monthly average when power demand is above its monthly average.

### 6. Understanding types of power generation (1 point)

The different types of power generation are:
* `nuclear`: nuclear power plants
* `hydro`: hydroelectric power plants
* `wind`: wind power plants
* `solar`: solar power plants
* `gas`: gas power plants
* `coal`: coal power plants

6.1. What's the average contribution of each type of power generation in percentage to the total generation, in the whole period?

6.2. What was the average contribution of each type power generation in percentage in the most expensive month?

6.3. What was the average contribution of each type power generation in percentage in the cheapest month?

##### Explanation
We start by calculating the total amount of energy that has been produced during the time period covered in the dataframe "*energy*".

Then, we create a new dataframe called "*power_generation*", which we use to show the amount of energy produced by each energy source divided by the total amount of energy produced in the whole period.

In [9]:
#Total generation per energy type
total_generation=energy[["hydro","nuclear","wind","solar","gas","coal"]].sum().sum()

#Creating the summary dataframe
power_generation=pd.DataFrame({
    "nuclear":"{:.2f}%".format(energy["nuclear"].sum()/total_generation*100),
    "hydro":"{:.2f}%".format(energy["hydro"].sum()/total_generation*100),
    "wind":"{:.2f}%".format(energy["wind"].sum()/total_generation*100),
    "solar":"{:.2f}%".format(energy["solar"].sum()/total_generation*100),
    "gas":"{:.2f}%".format(energy["gas"].sum()/total_generation*100),
    "coal":"{:.2f}%".format(energy["coal"].sum()/total_generation*100)
},index=["Percentage"])

#Showing the results
power_generation

           nuclear   hydro    wind  solar     gas   coal
Percentage  27.23%  11.96%  25.91%  4.34%  25.28%  5.30%

In [10]:
#Total generation per energy type
expensive_month=energy.groupby("month")["spot_price"].sum().idxmax() #Expensiest month
total_generation=energy.groupby("month")[["month","hydro","nuclear","wind","solar","gas","coal"]].sum()
total_generation=total_generation[total_generation.index==expensive_month].sum().sum()

#Creating the summary dataframe
power_generation=pd.DataFrame({
    "nuclear":"{:.2f}%".format(energy.groupby("month")["nuclear"].sum()[expensive_month]/total_generation*100),
    "hydro":"{:.2f}%".format(energy.groupby("month")["hydro"].sum()[expensive_month]/total_generation*100),
    "wind":"{:.2f}%".format(energy.groupby("month")["wind"].sum()[expensive_month]/total_generation*100),
    "solar":"{:.2f}%".format(energy.groupby("month")["solar"].sum()[expensive_month]/total_generation*100),
    "gas":"{:.2f}%".format(energy.groupby("month")["gas"].sum()[expensive_month]/total_generation*100),
    "coal":"{:.2f}%".format(energy.groupby("month")["coal"].sum()[expensive_month]/total_generation*100),
},index=["Percentage"])

#Showing the results
power_generation

           nuclear   hydro    wind  solar     gas    coal
Percentage  25.31%  10.93%  29.62%  2.31%  16.28%  15.55%

In [11]:
expensive_month

'January'

In [12]:
#Total generation per energy type
cheapest_month=energy.groupby("month")["spot_price"].sum().idxmin() #Cheapiest month
total_generation=energy.groupby("month")[["month","hydro","nuclear","wind","solar","gas","coal"]].sum()
total_generation=total_generation[total_generation.index==cheapest_month].sum().sum()

#Creating the summary dataframe
power_generation=pd.DataFrame({
    "nuclear":"{:.2f}%".format(energy.groupby("month")["nuclear"].sum()[cheapest_month]/total_generation*100),
    "hydro":"{:.2f}%".format(energy.groupby("month")["hydro"].sum()[cheapest_month]/total_generation*100),
    "wind":"{:.2f}%".format(energy.groupby("month")["wind"].sum()[cheapest_month]/total_generation*100),
    "solar":"{:.2f}%".format(energy.groupby("month")["solar"].sum()[cheapest_month]/total_generation*100),
    "gas":"{:.2f}%".format(energy.groupby("month")["gas"].sum()[cheapest_month]/total_generation*100),
    "coal":"{:.2f}%".format(energy.groupby("month")["coal"].sum()[cheapest_month]/total_generation*100)
},index=["Percentage"])

#Showing the results
power_generation

           nuclear   hydro    wind  solar     gas   coal
Percentage  23.79%  25.37%  30.88%  2.74%  14.98%  2.24%

In [13]:
cheapest_month

'December'

### 8. Weekends vs weekdays (1 point)

Create a column called `weekend` that is `True` if the day is a weekend and `False` if it's a weekday. Use `np.where` to create this column.

How much expensive in average is a weekend day compared to a weekday?

##### Explanation
We add a column called "*weekends*" to the dataframe "*energy*", which we populate with "*True*" if the value in column "*weekday*" is a Saturday or Sunday. If not, we assign "*False*". 

Then, we calculate the average spot price for all rows with the value "*True*" in column "*weekends*" and deduct the average spot price of all rows with the value "*False*" in column "*weekends*". The resulting value is the difference of the average spot price during weekends and during weekdays.

In [ ]:
#Generating a boolean for the days of the week.
energy["weekends"] = np.where(
    energy["weekday"].isin(["Saturday","Sunday"]), 
    True, 
    False 
)

#Generating the average per category
weekends_avg=energy.groupby("weekends")["spot_price"].mean()[True]
weekdays_avg=energy.groupby("weekends")["spot_price"].mean()[False]
difference=weekends_avg-weekdays_avg

#Cheking h the difrence and their prices.
if difference>0:
    print("""The average price of the weekends is {:.2f}â‚¬ and the average price of the weekdays is {:.2f}â‚¬.
    Weekends are {:.2f}â‚¬ more expensive than weekdays in average.""".format(weekends_avg,weekdays_avg,difference))
elif difference<0:
    print("""The average price of the weekends is {:.2f}â‚¬ and the average price of the weekdays is {:.2f}â‚¬.
    Weekends are {:.2f}â‚¬ cheaper than weekdays in average.""".format(weekends_avg,weekdays_avg,abs(difference)))
else:
    print("""The average price of the weekends is {:.2f}â‚¬ and the average price of the weekdays is {:.2f}â‚¬.
    In average the price for weekends and weekdays is the same.""".format(weekends_avg,weekdays_avg))

### 7. Open questions (2 points)

1. WhatÂ´s the effect of hydroelectric power generation on the price of electricity?
2. WhatÂ´s the effect of wind power generation on the price of electricity?
3. WhatÂ´s the effect of solar power generation on the price of electricity?
4. WhatÂ´s the effect of nuclear power generation on the price of electricity?
5. WhatÂ´s the effect of gas power generation on the price of electricity?
6. WhatÂ´s the effect of coal power generation on the price of electricity?

Spoiler: you can plot in `pandas` with `df.plot()`.

##### Explanation
For the open questions, we use the Python libraries "*Pandas*" for the dataframe handling, "*NumPy*" for a linear regression and "*matplotlib.pyplot*" for plotting the graphs. 

First, we create a correlation matrix of the columns of the dataframe "*energy*" to get an overview of how the different variables, i.e., columns, are correlated. We use the correlation matrix to obtain the correlation of each energy source with the spot price.

Second, we create a scatter plot for each energy source abd spot price. We show the energy source on the x-axis and the spot price on the y-axis. We do a linear regression on these two parameters, which we add to the scatter plot. 

The regression is done by using the function "*polyfit*", available in NumPy. The first two arguments are the two varibles x and y, e.g., "*hydro*" and "*spot_price*" in one of our cases. By setting the degree to **1**, we define that the output is a linear regression (and not a funtion of a higher degree like a parabola). The linear regression is a function of the type: y = ax+b, where a is the slope and b is the intersect with the y-axis.

We create the new column "*regression*", which we add to the dataframe "*energy*". In this column we store the output (y) of the linear regression function when using the energy source as input (x).

We create the scatter plot and the regression and print the linear regression. 

All steps involved in doing the regression and plotting the graphs are combined in a function, which we call "*regression*". By using a function, we can plot the graphs for each data source without repeating the code.

In [ ]:
#Importing matplotlib for the graphics generations 
import matplotlib.pyplot as plt

In [ ]:
#Correlation Matrix
corr= energy[["spot_price","nuclear","gas","solar","wind","hydro","coal"]].corr()
corr.style.background_gradient (cmap = "PuBu_r")

In [ ]:
#Defining fucntion to generate the regression graphs.
def regression(str1,str2):
    #calculate parameters for linear regression
    poly=np.polynomial.polynomial.polyfit(energy[str1],energy[str2],deg=1) 
    
    #create regression column
    energy["regression"]=poly[0]+poly[1]*energy[str1] #create regression column
    
    #create scatter plot
    ax=energy.plot(x=str1, y=str2, kind="scatter",figsize=(20,10),alpha=0.5) 
    
    #plot regression
    energy.plot(x=str1,y="regression",color="Red",ax=ax) 
    ax.text(energy[str1].min(),-9,'linear regression: Y = {:.4f} + {:.4f}X'.format(poly[0],poly[1]), fontsize=15) #print funcion
    plt.xlabel(str1,fontsize=15)
    plt.ylabel(str2,fontsize=15)
    plt.title(label=str1.upper() +" vs. "+str2.upper(),fontsize=20,fontweight="bold")

In [ ]:
#Hydro vs Spot_Price
regression("hydro","spot_price")

In [ ]:
#Wind vs Spot_Price
regression("wind","spot_price")

In [ ]:
#Solar vs Spot_Price
regression("solar","spot_price")

In [ ]:
#Nuclear vs Spot_Price
regression("nuclear","spot_price")

In [ ]:
#Gas vs Spot_Price
regression("gas","spot_price")

In [ ]:
#Coal vs Spot_Price
regression("coal","spot_price")

## Additional exersice

In [ ]:
import pylab
import numpy as np
Xaxis = np.linspace(-3, 3,
					100000)
Y1axis = np.sqrt(1 -
		(abs(Xaxis) - 1) **2)
Y2axis = -3 * np.sqrt(1 -
		(abs(Xaxis) / 2) **0.5)
pylab.fill_between(Xaxis, Y1axis,
				color = 'red')
pylab.fill_between(Xaxis, Y2axis,
				color = 'red')
pylab.xlim([-2.5, 2.5])
pylab.axis("off")
text = "We love your haircut"
pylab.text(0, -0.4, text,
		fontsize = 22,
		fontweight = 'bold',
		color = 'white',
		horizontalalignment = 'center')